* {
	box-sizing: border-box;
}

body {
	margin: 0;
	margin-top: 0;
	font-family: sans-serif;
	background-color: #ffffff;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: #111;
}

main {
	background-color: #eeeeec;
	width: 90%;
	margin: auto;
	padding: 10px 10px 10px 10px;
}

.right {
	float: right;
}

.active {
	background-color: #5f87d7;
}
